In [1]:
import pandas as pd

In [2]:
title_akas= pd.read_csv('data/imdb/title_akas.tsv', sep='\t')
title_basics= pd.read_csv('data/imdb/title_basics.tsv', sep='\t')

C:\Users\saksh\AppData\Local\Programs\Python\Python36\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\saksh\AppData\Local\Programs\Python\Python36\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data= pd.merge(title_akas, title_basics, left_on='titleId', right_on='tconst', right_index= False)
data.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"

In [8]:
data['startYear']= pd.to_numeric(data['startYear'], errors='coerce')

In [26]:
# print(data.head())
movie_titles= data[(data['titleType']=='movie') & (data['startYear']>2000) & (data['language']=='en')]
print(len(movie_titles.title.unique()))

61008

In [19]:
movie_titles= data[(data['titleType']=='movie') & (data['language']=='hi')]
print(len(movie_titles.title.unique()))

7099

In [25]:
len(data[data['titleType']=='movie' & data['startYear']>2000 & data['language']=='en'].unique())

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [6]:
print(type(data['startYear']))

<class 'pandas.core.series.Series'>